
@media all and (max-width: 990px) {

	.menu_icone{
		display: block;
	}
	.menu ul{
		display: none;
		top: 70px;
		position: absolute;
		text-align: center;
		width: 100%;

	}
	.menu{
		position: relative;
	}


}

@media all and (min-width:990px) {
	.menu ul{
		display: flex !important;
	}
}

@media all and (max-width:767px){
	.header_text_area h1 {
	    font-size: 35px;
	}
	/*work_header_text*/
	.work_icone {
	    margin: 10px 0;
	}
	.protfolio_copy_right {
	    display: block;
	    text-align: center;
	}
}

@media all and (max-width:575px){
	.menu_icone{
		position: absolute;
		top: 18px;
		right: 0;
	}
	/*Home text*/
	.home_text h1 {
	    padding-top: 60px;
	    font-size: 30px;
	}
	.home_text h1 span {
	    font-size: 32px;
	}
	/*header_text_area*/
	.header_text_area h1 {
	    font-size: 24px;
	}
}
@media all and (max-width:388px){
	.home_text h1 {
	    padding-top: 60px;
	    font-size: 20px;
	}
	.home_text h1 span {
	    font-size: 22px;
	}
	.home_text p {
	    font-size: 13px;
	}
	/*Emnd home text area*/
	.header_text_area h1 {
	    font-size: 15px;
	}
	/*work_header_text*/
	.work_header_text h1 {
	    font-size: 23px;
	}
}