@font-face {
    font-family: 'Sniglet';
    src: url('Sniglet-Regular.woff2') format('woff2'),
        url('Sniglet-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

